streamlit==1.39.0
langchain==0.3.27
langchain-nvidia-ai-endpoints==0.3.19
langchain-community==0.3.31
langchain-text-splitters==0.3.11
faiss-cpu==1.13.0
pypdf==6.5.0
python-dotenv==1.2.1
urllib3==1.26.15
